.calendar {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  margin: 0 auto;
  width: 100%;

  .days-of-week {
    display: flex;
    justify-content: space-between;

    .day-name {
      border-top: 1px solid #ddd;
      flex: 1;
      font-family: monospace, sans-serif;
      font-size: 14px;
      padding: 10px;
      text-align: center;
    }
  }

  .dates-grid {
    
    .week-row {
      display: flex;
      justify-content: space-between;
    }

    .date-cell {
      box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.2);
      flex: 1 0 calc(90% / 7 - 2px);
      margin: 5px;
      position: relative;

      &:after {
        content: '';
        display: block;
        margin-top: 100%;
      }

      .date-number {
        align-items: center;
        border-radius: 100%;
        display: flex;
        font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 12px;
        font-weight: 600;
        height: 24px;
        justify-content: center;
        position: absolute;
        right: 5px;
        top: 5px;
        width: 24px;
      }

      &.event-day {
        cursor: pointer;
      }

      &.event-day .date-number {
        background: #2b67b7;
        color: #fff;
        z-index: 1;
      }

      .events {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        
        .event {
          height: 100%;
          width: 100%;
          
          .poster {
            height: 100%;
            object-fit: cover;
            width: 100%;
          }
        }
      }
    }

    .empty {
      box-shadow: none;
    }
  }
}
